.b-blue,
.hover\:b-blue:hover {
  --bc: var(--blue);
  border-color: oklch(from var(--bc) var(--bl, 50%) c h);
}

.b-green,
.hover\:b-green:hover {
  --bc: var(--green);
  border-color: oklch(from var(--bc) var(--bl, 50%) c h);
}

.b-amber,
.hover\:b-amber:hover {
  --bc: var(--amber);
  border-color: oklch(from var(--bc) var(--bl, 50%) c h);
}

.b-red,
.hover\:b-red:hover {
  --bc: var(--red);
  border-color: oklch(from var(--bc) var(--bl, 50%) c h);
}

.b-purple,
.hover\:b-purple:hover {
  --bc: var(--purple);
  border-color: oklch(from var(--bc) var(--bl, 50%) c h);
}

.b-teal,
.hover\:b-teal:hover {
  --bc: var(--teal);
  border-color: oklch(from var(--bc) var(--bl, 50%) c h);
}

.b-gray,
.hover\:b-gray:hover {
  --bc: var(--gray);
  border-color: oklch(from var(--bc) var(--bl, 50%) c h);
}

.hover\:t-blue:hover,
.t-blue {
  --tc: var(--blue);
  color: oklch(from var(--tc) var(--tl, 50%) c h);
}

.hover\:t-green:hover,
.t-green {
  --tc: var(--green);
  color: oklch(from var(--tc) var(--tl, 50%) c h);
}

.hover\:t-amber:hover,
.t-amber {
  --tc: var(--amber);
  color: oklch(from var(--tc) var(--tl, 50%) c h);
}

.hover\:t-red:hover,
.t-red {
  --tc: var(--red);
  color: oklch(from var(--tc) var(--tl, 50%) c h);
}

.hover\:t-purple:hover,
.t-purple {
  --tc: var(--purple);
  color: oklch(from var(--tc) var(--tl, 50%) c h);
}

.hover\:t-teal:hover,
.t-teal {
  --tc: var(--teal);
  color: oklch(from var(--tc) var(--tl, 50%) c h);
}

.hover\:t-gray:hover,
.t-gray {
  --tc: var(--gray);
  color: oklch(from var(--tc) var(--tl, 50%) c h);
}

.bg-blue,
.hover\:bg-blue:hover {
  --bgc: var(--blue);
  background: var(--bgc);
}

.bg-green,
.hover\:bg-green:hover {
  --bgc: var(--green);
  background: oklch(from var(--bgc) var(--bgl, 50%) c h);
}

.bg-amber,
.hover\:bg-amber:hover {
  --bgc: var(--amber);
  background: oklch(from var(--bgc) var(--bgl, 50%) c h);
}

.bg-red,
.hover\:bg-red:hover {
  --bgc: var(--red);
  background: oklch(from var(--bgc) var(--bgl, 50%) c h);
}

.bg-purple,
.hover\:bg-purple:hover {
  --bgc: var(--purple);
  background: oklch(from var(--bgc) var(--bgl, 50%) c h);
}

.bg-teal,
.hover\:bg-teal:hover {
  --bgc: var(--teal);
  background: oklch(from var(--bgc) var(--bgl, 50%) c h);
}

.bg-gray,
.hover\:bg-gray:hover {
  --bgc: var(--gray);
  background: oklch(from var(--bgc) var(--bgl, 50%) c h);
}

[class*="b-100"],
[class*="b-200"],
[class*="b-300"],
[class*="b-400"],
[class*="b-500"],
[class*="b-600"],
[class*="b-700"],
[class*="b-800"],
[class*="b-900"] {
  border-color: oklch(from var(--bc) var(--bl) c h);
}

.b-100,
.hover\:b-100:hover {
  --bl: var(--l100);
}

.b-200,
.hover\:b-200:hover {
  --bl: var(--l200);
}

.b-300,
.hover\:b-300:hover {
  --bl: var(--l300);
}

.b-400,
.hover\:b-400:hover {
  --bl: var(--l400);
}

.b-500,
.hover\:b-500:hover {
  --bl: var(--l500);
}

.b-600,
.hover\:b-600:hover {
  --bl: var(--l600);
}

.b-700,
.hover\:b-700:hover {
  --bl: var(--l700);
}

.b-800,
.hover\:b-800:hover {
  --bl: var(--l800);
}

.b-900,
.hover\:b-900:hover {
  --bl: var(--l900);
}

[class*="t-100"],
[class*="t-200"],
[class*="t-300"],
[class*="t-400"],
[class*="t-500"],
[class*="t-600"],
[class*="t-700"],
[class*="t-800"],
[class*="t-900"] {
  color: oklch(from var(--tc) var(--tl) c h);
}

.hover\:t-100:hover,
.t-100 {
  --tl: var(--l100);
}

.hover\:t-200:hover,
.t-200 {
  --tl: var(--l200);
}

.hover\:t-300:hover,
.t-300 {
  --tl: var(--l300);
}

.hover\:t-400:hover,
.t-400 {
  --tl: var(--l400);
}

.hover\:t-500:hover,
.t-500 {
  --tl: var(--l500);
}

.hover\:t-600:hover,
.t-600 {
  --tl: var(--l600);
}

.hover\:t-700:hover,
.t-700 {
  --tl: var(--l700);
}

.hover\:t-800:hover,
.t-800 {
  --tl: var(--l800);
}

.hover\:t-900:hover,
.t-900 {
  --tl: var(--l900);
}

[class*="bg-100"],
[class*="bg-200"],
[class*="bg-300"],
[class*="bg-400"],
[class*="bg-500"],
[class*="bg-600"],
[class*="bg-700"],
[class*="bg-800"],
[class*="bg-900"] {
  background: oklch(from var(--bgc) var(--bgl) c h);
}

.bg-100,
.hover\:bg-100:hover {
  --bgl: var(--l100);
}

.bg-200,
.hover\:bg-200:hover {
  --bgl: var(--l200);
}

.bg-300,
.hover\:bg-300:hover {
  --bgl: var(--l300);
}

.bg-400,
.hover\:bg-400:hover {
  --bgl: var(--l400);
}

.bg-500,
.hover\:bg-500:hover {
  --bgl: var(--l500);
}

.bg-600,
.hover\:bg-600:hover {
  --bgl: var(--l600);
}

.bg-700,
.hover\:bg-700:hover {
  --bgl: var(--l700);
}

.bg-800,
.hover\:bg-800:hover {
  --bgl: var(--l800);
}

.bg-900,
.hover\:bg-900:hover {
  --bgl: var(--l900);
}

.b-currentcolor {
  border-color: currentColor;
}

.b-transparent {
  --bc: transparent;
  border-color: var(--bc);
}

.b-white,
.hover\:b-white:hover {
  --bc: #fff;
  border-color: var(--bc);
}

.hover\:t-white:hover,
.t-white {
  --tc: #fff;
  color: var(--tc);
}

.bg-white,
.hover\:bg-white:hover {
  --bgc: #fff;
  background: var(--bgc);
}

.b-black,
.hover\:b-black:hover {
  --bc: #000;
  border-color: var(--bc);
}

.hover\:t-black:hover,
.t-black {
  --tc: #000;
  color: var(--tc);
}

.bg-black,
.hover\:bg-black:hover {
  --bgc: #000;
  background: var(--bgc);
}

.bg-transparent {
  --bgc: transparent;
  background: var(--bgc);
}

.bg-glass,
.bg-filter {
  background: color-mix(
    in srgb,
    var(--bgc, transparent) calc(100% - var(--bgl, 50%)),
    transparent
  ) !important;
}

.bg-glass {
  backdrop-filter: var(--bg-glass-blur);
}

.hover\:bg-opaque:hover {
  backdrop-filter: unset;
  background: var(--bgc) !important;
}
