[class*="bs"] {
  transition: box-shadow 0.15s ease-in-out;
}

.bs-0 {
  box-shadow: none;
}

.bs-1,
.hover\:bs-1:hover {
  box-shadow:
    0 1px 4px rgba(0, 0, 0, 0.25),
    0 2px 12px rgba(0, 0, 0, 0.05);
}

.bs-2,
.hover\:bs-2:hover {
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.2),
    0 4px 24px rgba(0, 0, 0, 0.1);
}

.bs-3,
.hover\:bs-3:hover {
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.15),
    0 8px 48px rgba(0, 0, 0, 0.1);
}

.bs-4,
.hover\:bs-4:hover {
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.1),
    0 16px 60px rgba(0, 0, 0, 0.1);
}

.bs-5,
.hover\:bs-5:hover {
  box-shadow:
    0 12px 48px rgba(0, 0, 0, 0.075),
    0 24px 84px rgba(0, 0, 0, 0.075);
}

.img-cover {
  height: 100%;
  object-fit: cover !important;
  object-position: center;
  overflow: clip;
  width: 100%;
}

.img-cover-right-top {
  object-position: right top;
}

.img-cover-right {
  object-position: right;
}

.img-cover-right-bottom {
  object-position: right bottom;
}

.img-cover-bottom {
  object-position: bottom;
}

.img-cover-left-bottom {
  object-position: left bottom;
}

.img-cover-left {
  object-position: left;
}

.img-cover-left-top {
  object-position: left top;
}

.img-cover-top {
  object-position: top;
}

.img-contain {
  height: 100%;
  object-fit: contain !important;
  width: 100%;
}

.aspect-ratio-16x9 {
  aspect-ratio: 16/9;
}

.aspect-ratio-21x9 {
  aspect-ratio: 21/9;
}

.aspect-ratio-24x9 {
  aspect-ratio: 24/9;
}

.aspect-ratio-4x3 {
  aspect-ratio: 4/3;
}

.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}

.hover\:opacity-25\%\:hover,
.opacity-25\% {
  opacity: 0.25;
}

.hover\:opacity-50\%\:hover,
.opacity-50\% {
  opacity: 0.5;
}

.hover\:opacity-75\%\:hover,
.opacity-75\% {
  opacity: 0.75;
}

.hover\:opacity-100\%\:hover {
  opacity: 1;
}
