@media (min-width: 1280px) {
  .lg\:place-center {
    place-self: center;
  }

  .lg\:block {
    display: block;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:inline-flex {
    display: inline-flex;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .lg\:flex-column {
    flex-direction: column;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-center {
    justify-content: center;
  }

  .lg\:flex-start {
    justify-content: flex-start;
  }

  .lg\:flex-top {
    align-items: flex-start;
  }

  .lg\:flex-middle {
    align-items: center;
  }

  .lg\:flex-bottom {
    align-items: flex-end;
  }

  .lg\:flex-space-around {
    justify-content: space-around;
  }

  .lg\:flex-space-between {
    justify-content: space-between;
  }

  .lg\:flex-grow-equal > * {
    flex: 1;
  }

  .lg\:flex-grow-auto > * {
    flex: auto;
  }

  .lg\:grow {
    flex: 1;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:grid-dense {
    grid-auto-flow: dense;
  }

  .lg\:equal-2-cols {
    grid-template-columns: repeat(2, minmax(1rem, 1fr));
  }

  .lg\:equal-3-cols {
    grid-template-columns: repeat(3, minmax(1rem, 1fr));
  }

  .lg\:equal-4-cols {
    grid-template-columns: repeat(4, minmax(1rem, 1fr));
  }

  .lg\:col-1 {
    grid-column: 1;
  }

  .lg\:cols-1-2 {
    grid-column: 1 / span 2;
  }

  .lg\:cols-1-3 {
    grid-column: 1 / span 3;
  }

  .lg\:cols-1-4 {
    grid-column: 1 / span 4;
  }

  .lg\:col-2 {
    grid-column: 2;
  }

  .lg\:cols-2-3 {
    grid-column: 2 / span 2;
  }

  .lg\:cols-2-4 {
    grid-column: 2 / span 3;
  }

  .lg\:col-3 {
    grid-column: 3;
  }

  .lg\:cols-3-4 {
    grid-column: 3 / span 2;
  }

  .lg\:col-4 {
    grid-column: 4;
  }

  .lg\:row-1 {
    grid-row: 1;
  }

  .lg\:rows-1-2 {
    grid-row: 1 / span 2;
  }

  .lg\:rows-1-3 {
    grid-row: 1 / span 3;
  }

  .lg\:rows-1-4 {
    grid-row: 1 / span 4;
  }

  .lg\:row-2 {
    grid-row: 2;
  }

  .lg\:rows-2-3 {
    grid-row: 2 / span 2;
  }

  .lg\:rows-2-4 {
    grid-row: 2 / span 3;
  }

  .lg\:row-3 {
    grid-row: 3;
  }

  .lg\:rows-3-4 {
    grid-row: 3 / span 2;
  }

  .lg\:row-4 {
    grid-row: 4;
  }
}
