:root {
  /* Typography */
  --t-sans: ui-sans-serif, sans-serif;
  --t-serif: ui-serif, serif;
  --t-mono: ui-monospace, monospace;
  --t-base-ff: var(--t-sans);
  --t-mb: 1rem;
  --t-lh: 1.5;
  --t-base-fs: 100%;
  --t-xs: 0.625em;
  --t-sm: 0.8125em;
  --t-md: var(--t-base-fs);
  --t-lg: 1.1875em;
  --t-xl: 1.375em;
  --t-long-read: clamp(1em, 0.75em + 0.7813vw, 1.25em);
  --t-comfort: clamp(1em, 0.5833rem + 1.3021vw, 1.625em);
  --t-display: clamp(1em, 0.3333em + 2.0833vw, 2em);
  --t-thin: 200;
  --t-normal: 400;
  --t-semibold: 600;
  --t-bold: 700;
  --t-heavy: 900;
  --t-loose: 0.05ch;
  --t-tight: -0.05ch;
  --t-btn: 400;
  --t-column-width: 17.5rem;
  --h1: 2.5em;
  --h2: 1.875em;
  --h3: 1.5em;
  --h4: 1.25em;
  --h5: 1.125em;
  --h6: 1em;
  --hd-ff: inherit;
  --hd-fw: var(--t-semibold);
  --hd-lh: calc(1em + 0.5rem);
  --hd-m-block: 2rem 1rem;

  /* Forms */
  --t-form-ff: inherit;
  --y-form-sm: 1.75rem;
  --y-form: 2.5rem;
  --y-form-lg: 3.25rem;

  /* Dimensions and spacing */
  --w-xxs: 256px;
  --w-xs: 512px;
  --w-sm: 768px;
  --w-md: 1024px;
  --w-lg: 1280px;
  --w-xl: 1536px;
  --w-xxl: 1792px;
  --s-container-x: 32px;
  --s-tiny: 0.25rem;
  --s-1: 0.5rem;
  --s-2: 1rem;
  --s-3: clamp(1.5rem, 0.5rem + 1.25vw, 2rem);
  --s-4: clamp(2rem, 1rem + 2.5vw, 3rem);
  --p-cell: 0.5rem 1rem;
  --b-thin: 1px solid var(--bc-detail);
  --b-thick: 4px solid var(--bc-detail);
  --b-heavy: 8px solid var(--bc-detail);
  --square-1: 1.25em;
  --square-2: 2.5em;
  --square-3: 3.75em;

  /* Colors */
  --blue: #2563eb;
  --green: #16a34a;
  --amber: #d97706;
  --red: #dc2626;
  --purple: #b10dc9;
  --teal: #39cccc;
  --gray: #767676;
  --info: var(--blue);
  --success: var(--green);
  --warning: var(--amber);
  --danger: var(--red);
  --primary: var(--purple);
  --secondary: var(--teal);
  --tertiary: var(--gray);
  --l100: 97%; /* in gray ~ #f5f5f5 */
  --l200: 87.5%;
  --l300: 78%;
  --l400: 68.5%;
  --l500: 59%;
  --l600: 49.5%;
  --l700: 40%;
  --l800: 30.5%;
  --l900: 21%; /* in gray ~ #181818 */

  /* Theme */
  --bgc-body: #fff;
  --tc-base: oklch(from var(--gray) var(--l900) c h);
  --tc-link: oklch(from var(--blue) var(--l500) c h);
  --bgc-ui: var(--gray);
  --tc-form: var(--tc-base);
  --bgc-form: var(--bgc-body);
  --bgc-code: oklch(from var(--gray) var(--l100) c h);
  --bc-detail: oklch(from var(--gray) var(--l500) c h / 0.25);
  --bg-glass-blur: blur(4px);
}
