---
title: "Codebase 6 Decoration"
layout: "_includes/layout.njk"
---

<h2>Spacing</h2>

<p><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model">Box model</a> margin and padding spacing have 5 levels based on 5 CSS variables. These same spacing variables are also used for gaps (in flexbox and grid system), and for border radius utilities.</p>

<pre><code>:root {
  --s-tiny: 0.25rem
  --s-1: 0.5rem;
  --s-2: 1rem;
  --s-3: clamp(1.5rem, 0.5rem + 1.25vw, 2rem);
  --s-4: clamp(2rem, 1rem + 2.5vw, 3rem);
}
</code></pre>

<p>Spacing level <code>--s-tiny</code> can be used where you want to add, e.g. a small amount of spacing between an icon and text within a button, or between two adjacent form fields.</p>

<p>Spacing levels <code>--s-3</code> and <code>--s-4</code> increase responsively depending how how much width is available, using <code>clamp()</code> functions. This makes the negative space (“whitespace”) for spacing levels 3 and 4 larger where there is a larger viewport width available.</p>

<table class="table">
<thead>
<tr><th>Spacing variable</th>
<th>Default value</th>
<th>Margin (e.g.)</th>
<th>Padding (e.g.)</th>
<th>Border radius</th>
<th>Gap (flexbox or grid)</th>
</tr></thead>
<tbody>
<tr>
<td><code class="t-nowrap">--s-tiny</code></td>
<td><code>0.25rem</code></td>
<td><code>m-tiny</code></td>
<td><code>p-tiny</code></td>
<td><code class="t-nowrap">rounded-tiny</code></td>
<td><code class="t-nowrap">gap-tiny</code></td>
</tr>
<tr>
<td><code>--s-1</code></td>
<td><code>0.5rem</code></td>
<td><code>m-1</code></td>
<td><code>p-1</code></td>
<td><code class="t-nowrap">rounded,<br>rounded-1</code></td>
<td><code class="t-nowrap">gap-1</code></td>
</tr>
<tr>
<td><code>--s-2</code></td>
<td><code>1rem</code></td>
<td><code>m-2</code></td>
<td><code>p-2</code></td>
<td><code>rounded-2</code></td>
<td><code>gap-2</code></td>
</tr>
<tr>
<td><code>--s-3</code></td>
<td><code>clamp(1.5rem, 0.5rem + 1.25vw, 2rem)</code></td>
<td><code>m-3</code></td>
<td><code>p-3</code></td>
<td><code>rounded-3</code></td>
<td><code>gap-3</code></td>
</tr>
<tr>
<td><code>--s-4</code></td>
<td><code>clamp(2rem, 1rem + 2.5vw, 3rem)</code></td>
<td><code>m-4</code></td>
<td><code>p-4</code></td>
<td><code>rounded-4</code></td>
<td><code>gap-4</code></td>
</tr>
</tbody>
</table>

<p>Spacing example with paddings:</p>

<div class="my-3 flex flex-column gap-2">
  <div class="b-thin p-tiny"><code>p-tiny</code></div>
  <div class="b-thin p-1"><code>p-1</code></div>
  <div class="b-thin p-2"><code>p-2</code></div>
  <div class="b-thin p-3"><code>p-3</code></div>
  <div class="b-thin p-4"><code>p-4</code></div>
</div>

<p>Both margin and padding spacers are controlled on the 4 sides of blocks, as follows:</p>

<ul>
  <li>All: <code>m-0</code> through <code>m-4</code> / <code>p-0</code> through <code>p-4</code> (all four sides)</li>
  <li>Top: <code>mt-0</code> through <code>mt-4</code> / <code>pt-0</code> through <code>pt-4</code></li>
  <li>Right: <code>mr-0</code> through <code>mr-4</code> / <code>pr-0</code> through <code>pr-4</code></li>
  <li>Bottom: <code>mb-0</code> through <code>mb-4</code> / <code>pb-0</code> through <code>pb-4</code></li>
  <li>Left: <code>ml-0</code> through <code>ml-4</code> / <code>pl-0</code> through <code>pl-4</code></li>
  <li>Inline axis, or x-axis (right and left): <code>mx-tiny</code> through <code>mx-4</code> / <code>px-4</code> through <code>px-4</code></li>
  <li>Block axis, or y-axis (top and bottom): <code>my-tiny</code> through <code>my-4</code> / <code>py-4</code> through <code>py-4</code></li>
</ul>

<h3>Spacing extras</h3>

<p>In addition, there are the following specials:</p>

<ul>
  <li><code>*-0</code> margin and padding (options all, top, right, bottom, left) are for <em>overriding</em> (resetting) unwanted margin and padding</li>
  <li><code>p-cell</code> — adds padding <code>0.5rem 1rem</code> for creating menu items. Same as the padding for table cells and buttons</li>
  <li><code>mx-auto</code> — for x-axis margin auto-centering</li>
</ul>

<h2>Borders</h2>

<p>Codebase provides three thicknesses of border (plus a zero border override):</p>

<div class="my-3 flex flex-column gap-2">
  <div class="b-thin p-1"><code>b-thin</code> (1px)</div>
  <div class="b-thick p-1"><code>b-thick</code> (4px)</div>
  <div class="b-heavy p-1"><code>b-heavy</code> (8px)</div>
</div>

<p>The default border color is a partially transparent gray, that appears as a pale gray over the white background, and as a slightly darkened version of the background color of any component (e.g. button) or panel. Border colors can also be set using Codebase <a href="{{ baseUrl }}colors/">color</a> utility classes.</p>

<p>Borders on different sides can be set as follows:</p>

<ul>
  <li>All: <code>b-*</code></li>
  <li>Top: <code>bt-*</code></li>
  <li>Right: <code>br-*</code></li>
  <li>Bottom: <code>bb-*</code></li>
  <li>Left: <code>bl-*</code></li>
</ul>

<h3>Border extras</h3>

<ul>
  <li><code>b-0</code> — for removing (resetting) all borders</li>
  <li><code>b-currentColor</code> — for setting border color the same as its respective or inherited text color</li>
</ul>

<h2>Box shadows</h2>

<p>Box shadows can take your design to a new level!</p>

<ul>
  <li><code>bs-1</code> / <code>bs-2</code> / <code>bs-3</code></li>
</ul>

<p>Codebase box shadows are intended to represent layer “lifts” along the z-axis. The higher a layer is lifted from the page, the less sharpness and more spread the box shadow has. This also means that the higher the suffix, the fainter the shadow becomes as it is spread over a wider area.</p>

<div class="my-3 flex flex-wrap gap-3">
  <div class="bs-1 mb-2 p-2">bs-1</div>
  <div class="bs-2 mb-2 p-2">bs-2</div>
  <div class="bs-3 mb-2 p-2">bs-3</div>
</div>

<p>Lighting is simulated as from the front top center, so more of the shadow is cast at the bottom the element.</p>


<pre><code>&lt;div class="bs-1"&gt;...&lt;/div&gt;
  
&lt;div class="bs-2"&gt;...&lt;/div&gt;

&lt;div class="bs-3"&gt;...&lt;/div&gt;</code></pre>

<p>Codebase also has hover states for each of the box shadows. Hover over the panels below to see them in action.</p>

<div class="my-3 flex flex-wrap gap-3">
  <div class="hover:bs-1 b-thin p-2">hover:bs-1</div>
  <div class="hover:bs-2 b-thin p-2">hover:bs-2</div>
  <div class="hover:bs-3 b-thin p-2">hover:bs-3</div>
</div>

<h2>Rounded corners</h2>

<p>All Codebase border radius classes apply their border radius <em>potentially to all four corners</em>. If you want different radii on different corners of the same element, then you can access each of the spacing variables in your CSS, or set your own values.</p>

<p><strong>Tip:</strong> If you are putting rounded corners on a block element that contains an image, you will also need to add <code>overflow-clip</code>.</p>

<p>There are five modifier classes. These only supply a spacing variable.</p>

<ul>
<li><code>rounded-tiny</code> — <code>--s-tiny</code></li>
<li><code>rounded</code> — <code>--s-1</code>  (alias <code>rounded-1</code>)</li>
<li><code>rounded-2</code> — <code>--s-2</code></li>
<li><code>rounded-3</code> — <code>--s-3</code></li>
<li><code>rounded-4</code> — <code>--s-4</code></li>
<li><code>rounded-pill</code> — 999em</li>
</ul>

<p>Examples:</p>
<div class="my-3 grid xs:equal-2-cols sm:equal-3-cols gap-2 t-center">
  <div class="b-thin rounded-tiny px-2 py-4"><code>rounded-tiny</code></div>
  <div class="b-thin rounded px-2 py-4"><code>rounded</code></div>
  <div class="b-thin rounded-2 px-2 py-4"><code>rounded-2</code></div>
  <div class="b-thin rounded-3 px-2 py-4"><code>rounded-3</code></div>
  <div class="b-thin rounded-4 px-2 py-4"><code>rounded-4</code></div>
  <div class="b-thin rounded-pill px-2 py-4"><code>rounded-pill</code></div>
</div>

<p>If the element is a square, then <code>rounded-pill</code> makes a circle.</p>

<div class="w-xxs mx-auto my-3">
<div class="b-thin aspect-ratio-1x1 rounded-pill p-3 flex flex-center flex-middle"><code>rounded-pill</code></div>
</div>

<h2>Codebase <code>img-contain</code> and <code>img-cover</code> classes</h2>

<p><code>img-contain</code> and <code>img-cover</code> are designed for use on an <code>&lt;img src=""&gt;</code> tag.</p>

<p>The <code>img-contain</code> class can be used to make an image expand or contract so that it is fully seen within a wrapper, without distorting the image. If the image aspect ratio is taller than the wrapper, then some empty space will appear right and left of the image. And if the image aspect ratio is wider than the wrapper, then some empty space will appear to the top and bottom of the image.</p>

<p>The <code>img-cover</code> class can be used to make an image expand or contract to fully cover a wrapper block rectangle. If the image aspect ratio is taller than the wrapper, then its top and bottom will seem to be cropped. And if the image aspect ratio is wider than the wrapper, then its right and left sides will seem to be cropped.</p>

<p>There are also some image alignment modifiers that can be paired with <code>img-cover</code>.</p>

<ul>
  <li><code>img-cover img-cover-top</code> — ensures the top part of the image is in view</li>
  <li><code>img-cover img-cover-right</code> — ensures the right part of the image is in view</li>
  <li><code>img-cover img-cover-bottom</code> — ensures the bottom part of the image is in view</li>
  <li><code>img-cover img-cover-left</code> — ensures the left part of the image is in view</li>
</ul>
