---
title: "Codebase 6 Typography"
layout: "_includes/layout.njk"
---

<h2>Font stacks</h2>

<p>A few native font stacks are set in the <code>root-vars.css</code> file.</p>

<pre><code>:root {
  --t-sans: ui-sans-serif, sans-serif;
  --t-serif: ui-serif, serif;
  --t-mono: ui-monospace, monospace;

  --t-base-ff: var(--t-sans);
  --hd-ff: inherit; /* headings */
  --t-form-ff: inherit;
}
</code></pre>

<p>Everything here is an example, a place to start. Your own <code>--base</code> and <code>--prose</code> don’t need to be both sans-serif and serif.</p>

<p>Font stack usage in Codebase:</p>

<ul>
  <li>The <code>--t-sans</code> font stack is set in the <code>&lt;body&gt;</code> tag (via <code>--t-base-ff</code>) and is inherited on forms (via <code>--t-form-ff</code>) and headings (via <code>--hd-ff</code>), so that you can override and set a different typefaces if you prefer.</li>
  <li>The <code>--t-serif</code> font stack is only available via the <code>t-prose</code> utility class. But you can employ it directly on your <code>&lt;article&gt;</code> tag, or wherever you need.</li>
  <li>The <code>--t-mono</code> font stack is available via the <code>&lt;code&gt;</code>, <code>&lt;kbd&gt;</code>, and <code>&lt;samp&gt;</code> HTML tags, and in the <code>t-mono</code> utility class.</li>
</ul>
<h2>Base font size</h2>
<p>The default font size in Codebase is 100% for small viewports. This sets the value of 1rem—that is 16px on most browsers (in 2025).</p>
<pre><code>:root {
  --t-base-fs: 100%;
}
</code></pre>

<h2>Typographic block elements</h2>

<p>All typographic block elements have zero top margin, and a bottom margin of <code>var(--t-mb) </code> (which is 1rem by default). This includes paragraphs, headings, blockquotes, lists, and definition lists.</p>

<h3>Headings</h3>

<p>Heading sizes are set using the <a href="https://spencermortensen.com/articles/typographic-scale/">classic typographic scale</a> (but set in <strong>em</strong>, not <strong>pt</strong> or <strong>px</strong>). The font size for <code>h6</code> and utility class <code>.h6</code> is not increased by this scale (remains the same as the base font size).</p>

<p>Example headings (using heading-size utility classes):</p>

<p class="h1 t-semibold">Heading h1</p>
<p class="h2 t-semibold">Heading h2</p>
<p class="h3 t-semibold">Heading h3</p>
<p class="h4 t-semibold">Heading h4</p>
<p class="h5 t-semibold">Heading h5</p>
<p class="h6 t-semibold">Heading h6</p>

<pre><code>:root {
  --h1: 2.5em;
  --h2: 1.875em;
  --h3: 1.5em;
  --h4: 1.25em;
  --h5: 1.125em;
  --h6: 1em;
}
</code></pre>

<p>All headings <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> and matching heading size utility classes <code>h1</code> to <code>h6</code> have:</p>

<ul>
  <li>Headings font sizes set in the variables file (see above).</li>
  <li>Heading-size utility classes <code>h1</code> to <code>h6</code> are available for use on any element, e.g. <code>&lt;div class="h1"&gt;</code>. These utilities only affect font-size. They do not include margin or font-weight styling.</li>
  <li>Headings font family set using <code>--h-ff: inherit</code>. This has been done so that you can use the variable to override it — your headings don’t need to be the same typeface as your paragraphs.</li>
  <li>Headings font weight is set using <code>--h-fw: var(--t-semibold)</code> — which you can also override.</li>
  <li>Headings line heights set using the formula <code>1em + 0.5rem</code>.</li>
  <li>Headings have their bottom margin set the same as for paragraphs, <code>var(t--mb)</code>.</li>
</ul>

<pre><code>:root {
  --h-ff: inherit; /* headings font-family */
  --h-fw: var(--t-semibold);
  --h-lh: calc(1em + 0.5rem);
  --h-mb: var(--t-mb);
}
</code></pre>
<p><strong>Tip:</strong> In some contexts (e.g. in card components) you may not want any built-in spacing for typographic block elements. Then, you can remove margins by using the <code>mb-0</code> utility class.</p>
<h3>Block quotes</h3>
<p>Codebase styles <code>&lt;blockquote&gt;</code> tags with some inline (x-axis) padding, to give the effect of indentation. This inline padding is set using the responsive spacing variable <code>--s-4</code> so that it increases if there is more available width.</p>
<p>Otherwise, blockquotes have the same as paragraph styling.</p>
<blockquote>
<p>Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.</p>
</blockquote>
<h3>Lists</h3>
<p>In Codebase ordered <code>&lt;ol&gt;</code> and unordered <code>&lt;ul&gt;</code> have a small amount of left padding. But Codebase separates list items <code>&lt;li&gt;</code> to make them more obvious by setting a small top margin <em>between</em> list items (smaller than the top margin between paragraphs), and the same amount <em>above</em> nested <code>&lt;ol&gt;</code> and <code>&lt;ul&gt;</code>. This makes ordered and unordered lists have an even spacing like this:</p>
<ol>
<li>Ordered item one</li>
<li>Ordered item two
<ol>
<li>Ordered item two child one</li>
<li>Ordered item two child two</li>
</ol>
</li>
<li>Ordered item three</li>
</ol>
<pre><code>&lt;ol&gt;
  &lt;li&gt;Ordered item one&lt;/li&gt;
  &lt;li&gt;Ordered item two
    &lt;ol&gt;
      &lt;li&gt;Ordered item two child one&lt;/li&gt;
      &lt;li&gt;Ordered item two child two&lt;/li&gt;
    &lt;/ol&gt;
  &lt;/li&gt;
  &lt;li&gt;Ordered item three&lt;/li&gt;
&lt;/ol&gt;
</code></pre>
<ul>
<li>Unordered item</li>
<li>Unordered item
<ul>
<li>Unordered item child</li>
<li>Unordered item child</li>
</ul>
</li>
<li>Unordered item</li>
</ul>
<pre><code>&lt;ul&gt;
  &lt;li&gt;Unordered item&lt;/li&gt;
  &lt;li&gt;Unordered item
    &lt;ul&gt;
      &lt;li&gt;Unordered item child&lt;/li&gt;
      &lt;li&gt;Unordered item child&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li&gt;Unordered item&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
<p>For definition lists, the title is bold and the definition data item is indented with the same left padding as for the lists (see above).</p>
<dl>
  <dt>Definition list title</dt>
  <dd>Definition list data</dd>
  <dt>Definition list title</dt>
  <dd>Definition list data</dd>
</dl>
<pre><code>&lt;dl&gt;
  &lt;dt&gt;Definition list title&lt;/dt&gt;
  &lt;dd&gt;Definition list data&lt;/dd&gt;
  &lt;dt&gt;Definition list title&lt;/dt&gt;
  &lt;dd&gt;Definition list data&lt;/dd&gt;
&lt;/dl&gt;
</code></pre>
<h2>Links and menus</h2>
<p>In Codebase, links are styled with a color and an underline. The underline is set using the <code>text-decoration</code> property, and the color is set using the <code>color</code> property. The color of links is set to the <code>--tc-link</code> variable, which is defined in the <code>root-vars.css</code> file. On <code>:hover</code>, the link text color changes to the <code>--tc-link-hover</code> variable, which is set darker than <code>--tc-link</code>.</p>
<p>Example:</p>
<ul>
<li><a href="">This is a link to nowhere</a></li>
</ul>
<h3>Link utilities</h3>
<p>Then there are the following two classes that apply to links, that may be handy in some situations:</p>
<ul>
<li><a class="t-underline-none" href="">This link has no underline</a> — <code>t-underline-none</code></li>
<li><a class="t-underline-hover-only" href="">This link has no underline unless hovered</a> — <code>t-underline-hover-only</code></li>
</ul>
<p>The browser default, and the best practice for accessability, is to have links indicated by an underline (and the browser default color of links is blue). But in the context of menus it is permissible to deviate from the best practice, provided there are other visual and non-visual indicators. This is the reason why we should use <a href="https://www.codecademy.com/resources/blog/semantic-html/">semantic HTML</a> tags on menus, and and why we should place navigation menus in their expected locations (in sitewide menu-bars, sidebars, and footers).</p>
<h3>Panel links</h3>
<p>There may be situations where you have a link that contains some accompanying text that you don’t want to receive the <code>&lt;a href=""&gt;</code> (link) underline. Examples where this may be used: media object, card or hero component, where you want the whole thing to behave like a “big button”. for these, you need the <code>panel-link</code> and <code>panel-link-title</code> combo classes.</p>
<p>You will also want to style the outer <code>&lt;a href=""&gt;</code> e.g. with the <code>block</code> utility (for <code>display:block</code>), and add more styles to this inner element text, so that it is not the same color as the link label.</p>
<p>Y0u will also want to style the other element(s) text that’s not the <code>panel-link-title</code> with a different color, e.g. <code>t-gray t-900</code>.</p>
<a class="block my-3 p-3 bg-gray bg-100 panel-link" href="#/">
    <p class="panel-link-title">Link label (title)</p>
    <p class="mb-0 t-gray t-900">Lorem ipsum dolor sit amet ...</p>
</a>
<pre><code>&lt;a class="panel-link" href=""&gt;
    &lt;p class="panel-link-title"&gt;Link label (title)&lt;/p&gt;
    &lt;p class="mb-0 t-gray t-900"&gt;Lorem ipsum dolor sit amet ...&lt;/p&gt;
&lt;/a&gt;
</code></pre>
<p>Another example: here <code>t-underline-hover-only</code> has also been added to the <code>&lt;a href=""&gt;</code>:</p>
<a class="block my-3 p-3 panel-link t-underline-hover-only bg-gray bg-100" href="#/">
    <p class="panel-link-title">Link label (title)</p>
    <p class="mb-0 t-gray t-900">Lorem ipsum dolor sit amet ...</p>
</a>
<pre><code>&lt;a class="panel-link t-underline-hover-only" href=""&gt;
    &lt;p class="panel-link-title"&gt;Link label (title)&lt;/p&gt;
    &lt;p class="mb-0 t-gray t-900"&gt;Lorem ipsum dolor sit amet ...&lt;/p&gt;
&lt;/a&gt;
</code></pre>
<h3>Semantic menu tags</h3>
<ul>
<li><code>nav</code> / <code>&lt;menu&gt;</code> / <code>&lt;menuitem&gt;</code></li>
</ul>
<p>The semantic <code>&lt;nav&gt;</code> tag has no styling of its own, other than its being a block element (similar to a <code>div</code>). Use it to organize your major navigation blocks of links (whether to other pages in your website, or “on this page”).</p>
<p>Semantic <code>&lt;menu&gt;</code> tags are treated by the browser as no different to an <code>&lt;ul&gt;</code>, but they are <em>announced</em> as a menu by <a href="https://web.dev/articles/semantics-and-screen-readers">screen readers</a>. Codebase gives <code>&lt;menu&gt;</code>, <code>&lt;ul&gt;</code>, and <code>&lt;ol&gt;</code> the same styling: some left padding and bottom margin (and you can remove these you don't require them, using spacing utility classes: margins and/or paddings).</p>
<p>Using an <code>&lt;li&gt;</code> within a <code>&lt;menu&gt;</code> will give you bulletpoint block items. This will be OK for sidebars and dropdown menus, for example, but there’s also the semantic <code>&lt;menuitem&gt;</code> tag. This is an inline tag (like a <code>&lt;span&gt;</code>), and it doesn’t come with a bulletpoint.</p>
<p>This is what you get if you add no styling, other than the Codebase defaults (but of course you will want to add more styling):</p>
<nav class="my-3">
  <menu>
    <menuitem><a href="">Menu item 1</a></menuitem>
    <menuitem><a href="">Menu item 2</a></menuitem>
    <menuitem><a href="">Menu item 3</a></menuitem>
  </menu>
</nav>
<pre><code>&lt;nav&gt;
  &lt;menu&gt;
    &lt;menuitem&gt;&lt;a href=""&gt;Menu item 1&lt;/a&gt;&lt;/menuitem&gt;
    &lt;menuitem&gt;&lt;a href=""&gt;Menu item 2&lt;/a&gt;&lt;/menuitem&gt;
    &lt;menuitem&gt;&lt;a href=""&gt;Menu item 3&lt;/a&gt;&lt;/menuitem&gt;
  &lt;/menu&gt;
&lt;/nav&gt;
</code></pre>
<p>Notes:</p>
<ol>
<li>Use <code>&lt;nav&gt;</code> to encapsulate your main navigation and “on this page” navigation. Navs can contain more than one menu, e.g. in dropdowns. The website or brand logo (with a link to the homepage) can be situated within the top <code>&lt;nav&gt;</code> but outside of the menu.</li>
<li>The <code>&lt;menu&gt;</code> tag can be used in other contexts, e.g. for a list of related links to other websites, or for a set of user interface controls in a web application.</li>
<li>Inside a <code>&lt;menuitem&gt;</code> can be a link, a button, or other interactive element.</li>
</ol>
<p>If you want a group of links (in a menu) to not have underlines, or to have underlines only when hovered, the following wrapper classes are available in Codebase:</p>
<ul>
<li><code>links-underline-none</code></li>
<li><code>links-underline-hover-only</code></li>
</ul>
<p>And now, with a few other Codebase utilities, you have a menubar:</p>
<nav class="my-3">
  <menu class="p-cell flex flex-wrap gap-3 bg-gray bg-100 links-underline-hover-only">
    <menuitem><a class="t-semibold t-gray t-700" href="">Menu item 1</a></menuitem>
    <menuitem><a class="t-semibold t-gray t-700" href="">Menu item 2</a></menuitem>
    <menuitem><a class="t-semibold t-gray t-700" href="">Menu item 3</a></menuitem>
  </menu>
</nav>
<pre><code>&lt;nav&gt;
  &lt;menu class="p-cell flex flex-wrap gap-3 bg-gray bg-100 links-underline-hover-only"&gt;
    &lt;menuitem&gt;&lt;a class="t-semibold t-gray t-700" href=""&gt;Menu item 1&lt;/a&gt;&lt;/menuitem&gt;
    &lt;menuitem&gt;&lt;a class="t-semibold t-gray t-700" href=""&gt;Menu item 2&lt;/a&gt;&lt;/menuitem&gt;
    &lt;menuitem&gt;&lt;a class="t-semibold t-gray t-700" href=""&gt;Menu item 3&lt;/a&gt;&lt;/menuitem&gt;
  &lt;/menu&gt;
&lt;/nav&gt;
</code></pre>
<p>Or a menu for a sidebar or footer buffet:</p>
<nav class="my-3">
  <menu class="pl-0 flex flex-column gap-2 links-underline-hover-only">
    <menuitem><a href="">Menu item 1</a></menuitem>
    <menuitem><a href="">Menu item 2</a></menuitem>
    <menuitem><a href="">Menu item 3</a></menuitem>
  </menu>
</nav>
<pre><code>&lt;nav&gt;
  &lt;menu class="pl-0 flex flex-column gap-2 links-underline-hover-only"&gt;
    &lt;menuitem&gt;&lt;a href=""&gt;Menu item 1&lt;/a&gt;&lt;/menuitem&gt;
    &lt;menuitem&gt;&lt;a href=""&gt;Menu item 2&lt;/a&gt;&lt;/menuitem&gt;
    &lt;menuitem&gt;&lt;a href=""&gt;Menu item 3&lt;/a&gt;&lt;/menuitem&gt;
  &lt;/menu&gt;
&lt;/nav&gt;
</code></pre>
<h2 id="text-alignment" tabindex="-1">Text alignment</h2>
<ul>
<li><code>t-right</code>, <code>t-center</code>, and <code>t-left</code></li>
</ul>
<p>In addition to the three simple text alignment classes above, Codebase also has several container-query responsive variants, for <code>xs:</code>, <code>sm:</code>, <code>md:</code> and <code>lg:</code> viewport breakpoints widths.</p>
<p>Example: The hearing in the card below is left aligned by default, but becomes center aligned when its wrapper is <code>xs</code> (320px) wide and above, using <code>xs:t-center</code>:</p>
<div class="mb-2 p-2 bg-amber bg-100">
<p class="h3 t-semibold xs:t-center">A title</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni rem animi quaerat accusantium illum architecto, nemo, ex harum voluptatum adipisci eum blanditiis dolorum. Natus debitis quisquam, expedita accusantium quos cumque?</p>
</div>

<h2>Tables</h2>

<p>Codebase tables are set using the <code>.table</code> class.</p>

<ul>
  <li>Table headers <code>&lt;th&gt;</code> are bold.</li>
  <li>Table cells <code>&lt;th&gt;</code> and <code>&lt;td&gt;</code> have a border set by <code>var(--b-1)</code> – the same detail as <code>&lt;hr&gt;</code> and border utility classes.</li>
  <li>Table cell paddings are set by <code>--p-cell</code></li>
  <li>All cell content is left-aligned. You can change that on the whole <code>&lt;table&gt;</code> or on a per-cell basis using the <a href="#text-alignment">text alignment</a> classes.</li>
  <li>Codebase tables ordinarily are grid-lined, with cell content left-aligned, and cell widths dependant on the amoint of content in cells. Optional modifiers:
    <ul>
      <li><code>table-fixed</code> will force cells to have the same (fixed) width.</li>
      <li><code>table-borderless</code> removes border lines (but keeps padding).</li>
      <li><code>table-lines</code> removes vertical lines but keeps horizontal lines.</li>
      <li><code>table-compact</code> reduced padding, good for large tables.</li>
      <li><code>table-striped</code> alternate rows have backgrounds semi-transparent white and pale gray</li>
    </ul>
  <li>Cell or whole table alignments can be handled by <code>t-center</code> etc. and <code>vertical-align-middle</code> etc.</li>
</ul>

<table class="my-4 table">
  <caption>This is a Table Caption</caption>
  <thead>
    <tr>
      <th>Table Header 1</th>
      <th>Table Header 2</th>
      <th>Table Header 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table content 1.1</td>
      <td>Table content 2.1</td>
      <td>Table content 3.1</td>
    </tr>
    <tr>
      <td>Table content 1.2</td>
      <td>Table content 2.2</td>
      <td>Table content 3.2</td>
    </tr>
    <tr>
      <td>Table content 1.3</td>
      <td>Table content 2.3</td>
      <td>Table content 3.3</td>
    </tr>
    <tr>
      <td>Table content 1.4</td>
      <td>Table content 2.4</td>
      <td>Table content 3.4</td>
    </tr>
  </tbody>
</table>

<pre><code>&lt;table class="table"&gt;
  &lt;caption&gt;This is a Table Caption&lt;/caption&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Table Header 1&lt;/th&gt;
      &lt;th&gt;Table Header 2&lt;/th&gt;
      &lt;th&gt;Table Header 3&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Table content 1.1&lt;/td&gt;
      &lt;td&gt;Table content 2.1&lt;/td&gt;
      &lt;td&gt;Table content 3.1&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Table content 1.2&lt;/td&gt;
      &lt;td&gt;Table content 2.2&lt;/td&gt;
      &lt;td&gt;Table content 3.2&lt;/td&gt;
    &lt;/tr&gt;
    ...
  &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>

<p>Example with <code>table table-lined table-striped</code>:</p>

<table class="my-4 table table-lined table-striped">
  <thead>
    <tr>
      <th>Table Header 1</th>
      <th>Table Header 2</th>
      <th>Table Header 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table content 1.1</td>
      <td>Table content 2.1</td>
      <td>Table content 3.1</td>
    </tr>
    <tr>
      <td>Table content 1.2</td>
      <td>Table content 2.2</td>
      <td>Table content 3.2</td>
    </tr>
    <tr>
      <td>Table content 1.3</td>
      <td>Table content 2.3</td>
      <td>Table content 3.3</td>
    </tr>
    <tr>
      <td>Table content 1.4</td>
      <td>Table content 2.4</td>
      <td>Table content 3.4</td>
    </tr>
  </tbody>
</table>

<h3>Making wide tables responsive</h3>

<p>If you have a lot of content in your table, it will probably break your page layout on small viewports (e.g. phones). The simplest way to make a table “responsive” is to wrap your table in a DIV with the <code>overflow-x</code> class to make it horizontally scrollable.</p>

<div class="my-4 overflow-x">
  <table class="table table-grid">
    <thead>
      <tr>
        <th>Column title</th>
        <th>Column title</th>
        <th>Column title</th>
        <th>Column title</th>
        <th>Column title</th>
        <th>Column title</th>
        <th>Column title</th>
        <th>Column title</th>
        <th>Column title</th>
        <th>Column title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
        <td>Tabel cell content</td>
      </tr>
    </tbody><tbody>
  </tbody></table>
</div>

<pre><code>&lt;div class="overflow-x"&gt;
  &lt;table class="table"&gt;
    ...
  &lt;/table&gt;
&lt;/div&gt;
</code></pre>

<h2>Controlling text size</h2>

<p>The base font size is 100% (16px default). Additionally:</p>

<h3>Font size multipliers</h3>

<p><code>t-xs</code>, <code>t-sm</code>, <code>t-md</code>, <code>t-lg</code>, <code>t-xl</code></p>

<p>Starting from your base font size, these multipliers will either increase or decrease the font size.</p>

<p><strong>Notes:</strong></p>

<ul>
  <li>The <code>t-md</code> class is the same as the base font size, and is set in REM. Use it to override other styles to return to the base font size.</li>
  <li>All other font size multipliers are set in EM, so that they will scale up or down depending on the parent element’s font size.</li>
  <li>Font size multipliers can be used on any element, but they are generally used on inline elements, e.g. <code>&lt;span&gt;</code>.
</ul>

<p>Example uses: smaller for footnotes or “small print”; larger for lead (intro) paragraphs.</p>

<table class="table">
  <thead>
    <tr>
      <th>Class</th>
      <th class="t-center">Font size multiplier</th>
      <th class="t-center">Pixel size (px) if base size is 16px</th>
      <th class="t-center">Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>t-xs</code></td>
      <td class="t-center">0.625em</td>
      <td class="t-center">10px</td>
      <td><span class="t-xs">Extra-small text</span></td>
    </tr>
    <tr>
      <td><code>t-sm</code></td>
      <td class="t-center">0.8125em</td>
      <td class="t-center">13px</td>
      <td><span class="t-sm">Small text</span></td>
    </tr>
    <tr>
      <td>(Base) or <code>t-md</code></td>
      <td class="t-center">1rem</td>
      <td class="t-center">16px</td>
      <td><span class="t-md">Base text</span></td>
    </tr>
    <tr>
      <td><code>t-lg</code></td>
      <td class="t-center">1.1875em</td>
      <td class="t-center">19px</td>
      <td><span class="t-lg">Large text</span></td>
    </tr>
    <tr>
      <td><code>t-xl</code></td>
      <td class="t-center">1.375em</td>
      <td class="t-center">22px</td>
      <td><span class="t-xl">Extra-large text</span></td>
    </tr>
    </tbody>
</table>

<h3>Heading font-size utilities</h3>

<p><code>.h1</code>, <code>.h2</code>, <code>.h3</code>, <code>.h4</code>, <code>.h5</code>, <code>.h6</code></p>

<p>These are generally used on <em>block</em> (wrapper) elements, and they will resize text the same amount as for their respective heading tag sizes.</p>

<p>Example use: when you want to make text bigger (or large text smaller) without adversely affecting accessibility/ SEO heading hierarchy.</p>

<h3>Responsive font size multipliers</h3>

<p><code>t-long-read</code>, <code>t-comfort</code>, <code>t-display</code></p>

<p>These responsive font size multipliers can be used to make text even larger, but in a way that is not initially too large for phones and small tablet devices. These classes are applied to a wrapping element, and they will affect all text within that element. The font size will ramp up from 1× to a maximum value depending on the viewport width.</p>

<ol>
  <li>The <code>t-long-read</code> wrapping class ramps text up from 1× to 1.25× depending on viewport size.</li>
  <li>The <code>t-comfort</code> wrapping class ramps text up from 1× to 1.625× depending on viewport size.</li>
  <li>The <code>t-display</code> wrapping class ramps text up from 1× to 2× depending on viewport size.</li>
</ol>

<p>The calculated max pixel sizes are as follows:</p>

<table class="table">
  <thead>
    <tr>
      <th>Type size</th>
      <th class="t-balance t-center">Paragraph max font size (px)</th>
      <th class="t-balance t-center">H1 max font size (px)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Base</td>
      <td class="t-center">16px</td>
      <td class="t-center">40px</td>
    </tr>
    <tr>
      <td><code class="t-nowrap">t-long-read</code></td>
      <td class="t-center">20px</td>
      <td class="t-center">50px</td>
    </tr>
    <tr>
      <td><code>t-comfort</code></td>
      <td class="t-center">26px</td>
      <td class="t-center">65px</td>
    </tr>
    <tr>
      <td><code>t-display</code></td>
      <td class="t-center">32px</td>
      <td class="t-center">80px</td>
    </tr>
  </tbody>
</table>

<p>Demo:</p>

<table class="table overflow-x">
  <thead>
    <th><code>t-long-read</code> wrapper</th>
    <th><code>t-comfort</code> wrapper</th>
    <th><code>t-display</code> wrapper</th>
  </tr></thead><thead>
  </thead><tbody>
    <tr>
      <td class="t-long-read">
        <p class="h1">Heading 1</p>
        <p class="h2">Heading 2</p>
        <p class="h3">Heading 3</p>
        <p class="h4">Heading 4</p>
        <p class="h5">Heading 5</p>
        <p class="h6">Heading 6</p>
        <p>Paragraph. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni rem animi quaerat accusantium illum architecto, nemo, ex harum voluptatum adipisci eum blanditiis dolorum. Natus debitis quisquam, expedita accusantium quos cumque?</p>
      </td>
      <td class="t-comfort">
        <p class="h1">Heading 1</p>
        <p class="h2">Heading 2</p>
        <p class="h3">Heading 3</p>
        <p class="h4">Heading 4</p>
        <p class="h5">Heading 5</p>
        <p class="h6">Heading 6</p>
        <p>Paragraph. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni rem animi quaerat accusantium illum architecto, nemo, ex harum voluptatum adipisci eum blanditiis dolorum. Natus debitis quisquam, expedita accusantium quos cumque?</p>
      </td>
      <td class="t-display">
        <p class="h1">Heading 1</p>
        <p class="h2">Heading 2</p>
        <p class="h3">Heading 3</p>
        <p class="h4">Heading 4</p>
        <p class="h5">Heading 5</p>
        <p class="h6">Heading 6</p>
        <p>Paragraph. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni rem animi quaerat accusantium illum architecto, nemo, ex harum voluptatum adipisci eum blanditiis dolorum. Natus debitis quisquam, expedita accusantium quos cumque?</p>
      </td>
    </tr>
  </tbody>
</table>


<h2>Code</h2>

<p><code>&lt;code&gt;</code> tags have monospaced text (set by <code>--t-mono</code>), with a thin border and a little padding to improve readability.</p>
<p>If the <code>&lt;code&gt;</code> tag is wrapped in a <code>&lt;pre&gt;</code> tag, then it becomes a block level element with more padding, a max-width of 100%, and y-axis overflow scrolling.</p>
<h2>Other typographic utility classes</h2>
<p>Besides those already introduced, Codebase also has utility classes for:</p>
<ul>
<li><code>t-lg</code> — increase font size by 1.5em. Use it directly on a <code>&lt;p&gt;</code> to enlarge the font (e.g. for a lead paragraph).</li>
<li><code>t-sm</code> (or use the <code>&lt;small&gt;</code> HTML tag) — decrease font-size to 0.8em</li>
<li><code>t-thin</code>, <code>t-normal</code>, <code>t-semibold</code>, <code>t-bold</code>, <code>t-heavy</code> — font weights</li>
<li><code>t-italic</code> — font style italic</li>
<li><code>t-balance</code> — balances word-wrap, so that e.g. long headings don't have orphans</li>
<li><code>t-uppercase</code> — text transform to capitals</li>
<li><code>t-nowrap</code> — prevents text wrapping (spaces behave as non-breaking spaces)</li>
</ul>
<p><strong>Note:</strong> links can also be styled as though they are buttons using the <code>btn</code> utility class. See <a href="{{baseUrl}}components/#buttons">components: buttons</a>.</p>
