<p class="t-uppercase t-loose">Docs</p>

<ul class="pl-0 flex flex-column gap-tiny list-style-type-none links-underline-hover-only">
  <li><a href="{{ baseUrl }}" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/' %} b-blue t-bold{% endif %}">Getting started</a></li>
  <li><a href="{{ baseUrl }}typography/" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/typography/' %} b-blue t-bold{% endif %}">Typography</a></li>
  <li><a href="{{ baseUrl }}layouts/" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/layouts/' %} b-blue t-bold{% endif %}">Layouts</a></li>
  <li><a href="{{ baseUrl }}layouts-flex/" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/layouts-flex/' %} b-blue t-bold{% endif %}">Layouts: Flexbox</a></li>
  <li><a href="{{ baseUrl }}layouts-grid/" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/layouts-grid/' %} b-blue t-bold{% endif %}">Layouts: Grid</a></li>
  <li><a href="{{ baseUrl }}decoration/" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/decoration/' %} b-blue t-bold{% endif %}">Decoration</a></li>
  <li><a href="{{ baseUrl }}forms/" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/forms/' %} b-blue t-bold{% endif %}">Forms</a></li>
  <li><a href="{{ baseUrl }}colors/" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/colors/' %} b-blue t-bold{% endif %}">Colors</a></li>
  <li><a href="{{ baseUrl }}components/" class="block bl-heavy p-1 bg-gray bg-100{% if page.url == '/components/' %} b-blue t-bold{% endif %}">Components</a></li>
</ul>